Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@evgenyTarasovRepo 
qa-guru
/
demoqa-tests-17
Public
Fork your own copy of qa-guru/demoqa-tests-17
Code
Issues
Pull requests
Actions
Projects
Security
Insights
demoqa-tests-17/.gitignore
@svasenkov
svasenkov added .gitignore
Latest commit b4f3976 on Dec 29, 2022
 History
 1 contributor
42 lines (36 sloc)  407 Bytes

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Properties files
*.properties

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml

# Project gen files
.idea
.allure/
.gradle/
allure-results/
gradle/
build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
/gradlew
/gradlew.bat
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
demoqa-tests-17/.gitignore at simple · qa-guru/demoqa-tests-17